{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/tools.cli {:mvn/version "0.3.7"}
  org.clojure/tools.deps.alpha {:mvn/version "0.5.435"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}}}
